# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/front/dist
front/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.cache
/.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

back/ecommerce-2020-b068c-firebase-adminsdk-a1zze-4c58c14771.json

front/package-lock.json
back/package-lock.json